<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <h1> Filters </h1>
    <form action="/" method="GET">
    <label>From:
      <input type="date" name="firstDate">
    </label>

    <label>To:
      <input type="date" name="firstDate">
    </label>
    
    </form>



    <canvas id="myChart"></canvas>
    <h1 id=></h1>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js"></script>

  </body>
</html>
